*.exe
*.o
*.i
*.elf
*.gba
*.sgm
/*.sa[0-9]
/*.sav
/*.ss[0-9]
/*.sg[0-9]
*.1bpp
*.4bpp
*.8bpp
*.gbapal
*.lz
*.rl
*.latfont
*.hwjpnfont
*.fwjpnfont
sound/**/*.bin
sound/songs/midi/*.s
tools/agbcc
*.map
*.ld
*.bat
*.dump
Thumbs.db
build/
.DS_Store
*.ddump
.idea/
porymap.project.cfg
.vscode/
*.a
.fuse_hidden*
src/*.s
alphas/
scripts.inc
data/scripts/bug_catching_contest.inc
*.sna
src/data/items.h
include/constants/map_groups.h
data/scripts/move_tutors.inc
src/data/wild_encounters.h
berry_fix/ld_script.sed
berry_fix/payload/ld_script.sed
